@font-face {
    font-family: "Big Brother";
    src: url("/assets/font/BigBrother.woff") format("woff");
}

.containerMain {
    background-color: #540b0e;
    font-family: "Big Brother";
    color: white;
    height: 100vh;
}

.containerProf{
    display:flex;
    flex-direction: column;
    border : 1px solid black;
    justify-content: center;
    align-items: center;
}

.content-connexion {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-family: "Big Brother";
}





input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


h1 {
    font-size:  100px;
}

.sub {
    border-radius: 1cm;
}



.sub:hover {
    background-color: #c54c50;
}



.back-to-main {
    font-size:  30px;
}

.disabled{
    display: none;
}

.active{
    display: block;
}

html, body{
    height: 100vh;
}

body {
    background-color: #540b0e;
    color: #f8f9fa;
}

.titleMenu {
    font-family: "Big Brother";
    font-size: 8rem;
    text-align: center;
    line-height: 7rem;
}

.laManu {
    color: black;
}

.signOut {
    text-align: right;
    margin: 1.5rem;
    font-size: 2rem;
    margin-bottom: 0;
    
}

.signOut a{
    color : white;
}

.signOut a:hover{
    color: #c54c50;;
}


.comment{
    color: #540b0e;
    text-align: center;
}

.logo{
    text-align: center;
}

.logo img{
    width: 25rem;
    margin-bottom: 4rem;
}

.logoProf img{
    width: 25rem;
    margin-bottom: 4rem;
}

.imgGif{
    height: 15rem;
}

#gif{
    text-align: center;
}